.contentContainer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.textBlock {
  flex: 0 0 70%;
  padding-right: 20px;
}

.heading {
  font-size: 3.3rem;
  line-height: 4rem;
  max-width: 20ch;
  margin-bottom: 3rem;
}

.subheading {
  margin-bottom: 3rem;
  font-size: 2rem;
  line-height: 1.4em;
  max-width: 42ch;
}

.paragraph {
  line-height: 1.6rem;
  font-size: 1.2rem;
  max-width: 70ch;
}

.imageBlock {
  flex: 0 0 30%;
  text-align: center;
}

.profileImage {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 50% 50% 0 0;
  overflow: hidden;
  background: url('assets/sparsh-image.jpg') no-repeat center center/cover;
}

.nowPlaying {
  text-align: left;
  background-color: #e8f5e9;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.spotifyIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}