/* Footer.css */
.footer {
    width: 100%;
    color: white;
    margin: 2.5rem 0;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    z-index: 4;
    }
  
  .footer-icon {
    display: flex;
    align-items: center;
  }
  
  .icon-link {
    color: #a0aec0;
    transition: color 0.3s ease;
  }
  
  .icon-link:hover {
    color: white;
  }
  
  .icon {
    width: 36px;
    height: 36px;
  }
  
  .projects-islands-wrapper {
    display: none;
  }
  
  /* Media query for tablet and desktop */
  @media (min-width: 768px) {
    .projects-islands-wrapper {
      display: block;
    }
  }