@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Benzin';
  src: local('Benzin'), url(./Fonts/Benzin/Benzin-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Benzin-thin';
  src: local('Benzin-thin'), url(./Fonts/Benzin/Benzin-Regular.ttf) format('truetype');
}